<template name="calendar">
    <section id="main-content">
        <section class="wrapper">
            <h3>{{_ "Your_schedule"}}</h3>
            <!-- page start-->
            <div class="row mt">
                <aside class="col-lg-12 mt">
                    <section class="panel">
                        <div class="panel-body">
                            {{> fullcalendar options class="mainCalendar"}}
                        </div>
                    </section>
                </aside>
            </div>
            <!-- page end-->
        </section>
    </section>
    <!--/wrapper -->
    <!-- modal start -->
        {{> calendar_modal}}
    <!-- modal end -->
</template>
<template name="calendar_modal">
    <div id="createEventModal" class="calendar_modal modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-remove"></i></button>
                    <h3 id="myModalTitle">{{_ "Create_Appointment"}}</h3>
                </div>
                <div class="modal-body">
                    <form id="createAppointmentForm" class="form-horizontal">
                        <div class="control-group">
                            <label class="control-label" for="inputPatient">{{_ "Student"}}:</label>
                            <div class="controls">
                                <input type="text" name="patientName" id="patientName" tyle="margin: 0 auto;" data-provide="typeahead" data-items="4" data-source="[&quot;Value 1&quot;,&quot;Value 2&quot;,&quot;Value 3&quot;]">
                                  <input type="hidden" id="apptStartTime"/>
                                  <input type="hidden" id="apptEndTime"/>
                                  <input type="hidden" id="apptAllDay" />
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="when">{{_ "When"}}:</label>
                            <div class="controls controls-row" id="when" style="margin-top:5px;">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">{{_ "Cancel"}}</button>
                    <button type="submit" class="btn btn-primary" id="submitButton">{{_ "Save"}}</button>
                </div>
            </div>
        </div>
    </div>
</template>
  

