<template name="teachers">
    <section id="main-content">
        <section class="wrapper site-min-height">
            <h3>{{_ "Teachers"}}</h3>
            <div class="mt">
                <div class="col-lg-12">
                    {{> teacher}}
                </div>
            </div>
        </section>
    </section>
</template>


<template name="teacher">
    {{#each teachers_table}}
    <div class="col-lg-4 col-md-4 col-sm-4 mb">
        <a href="#">
            <div class="content-panel pn">
                <div id="profile-02">
                    <div class="user">
                        <img src="img/friends/fr-06.jpg" class="img-circle" width="120">
                        <h4>{{profile.name}}</h4>
                    </div>
                </div>
                <div class="pr2-social centered">
                    <a href="#"><i class="fa fa-vk"></i></a>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                </div>
            </div>
        </a>
    </div>
    {{/each}}
</template>